img {
  cursor: pointer;
}

.ToDoItem {
  font-weight: 600;
  font-size: 12px;
  color: #4d4d4d;
  display: flex;
  align-items: center;
  border: 2px solid #5db3be;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 7px;
  background-color: white;
}
/* 
.ToDoItem span {
  margin: 0px;
  padding-left: 10px;
} */

.ToDoItem .showContent {
  display: flex;
  align-items: center;
  text-align: left;
  flex-grow: 2;
}

.ToDoItem img {
  width: 16px;
  margin-left: 10px;
}

.ToDoItem-done {
  color: white;
  background-color: #94d6df;
}

.ToDoItem-done span {
  text-decoration: line-through;
  opacity: 0.8;
}

.ToDoItem .showContent .editContent {
  display: none;
  width: 100%;
}

.ToDoItem .showContent .showEditContent {
  display: block;
}

.ToDoItem .showContent .itemContent {
  width: 100%;
}

.ToDoItem .showContent .showEditContent .inputContent {
  padding: 3px;
}

.ToDoItem .showContent .showEditContent .btn-edit {
  margin-left: 5px;
  background-color: rgb(0, 123, 255);
  color: white;
  border: 1px solid rgb(0, 123, 255);
  padding: 3px 7px;
}
